*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .7s ease-in-out;
}
body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0.44209558823529416) 0%, rgba(9,9,121,1) 31%, rgba(0,212,255,1) 100%);
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
header{

 width: 100%;
  z-index: 1000;
}
.header{

  top: 0;
  left: 0;
  padding: 10px 0;
  animation: showElement;
  animation-duration: 1s;
}

@keyframes showElement{
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}
ul {
  list-style: none;
}
a {
  color: whitesmoke ;
  line-height:20px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'MuseoModerno', cursive;
  font-weight: normal;
  letter-spacing: 1px;
  color: black;
}
.logo {
  padding-top: 40px;
  text-align: center;
  height: 200%;
  width: 100%;
  border-bottom: 1px solid whitesmoke; /* Параметры нижний линии */;
  display: block;
}
.logo h1{
  text-align: center;
  font-size: 80px;
  padding:  40px 15px;
  border: 7px solid whitesmoke;
  width: 40%;
  margin: 0 auto;
  color: whitesmoke ;
  font-family: 'MuseoModerno', cursive;
  box-sizing: border-box;
  -webkit-box-shadow: 13px 32px 76px 46px rgba(255, 255, 255, 0.36);
  -moz-box-shadow: 13px 32px 76px 46px rgba(255, 255, 255, 0.36);
  box-shadow: 13px 32px 76px 46px rgba(255, 255, 255, 0.36);
}
.logo input, .logo button {
  outline: none;
  background: transparent;
}


/* ПАНЕЛЬ НАВИГАЦИИ */;
nav{

  margin: auto;

}
.topNav{
  padding: 30px 15px;
  font-size: 22px;
}
.topNav a{
  text-align: center;
  padding: 10px 20px;
  transition: color 0.2 linear;
}
.topNav a:hover{
  border-bottom: 2px solid sandybrown;
  color: #EECFBA;
}
.topNav .icon{
  display: none;
}
@media screen and (max-width: 768px){
  .topNav a:not(:first-child){
    display: none;
  }
  .topNav a.icon{
    float: right;
    margin-top: 1;
  }
  nav{
    width: 100%;
    height: 100px;
  }
  .topNav.responsive{
    position: relative;
  }
  .topNav.responsive a.icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a{
    float: none;
    display: block;

  }
}


/* стилевой класс, который управляет шириной контейнера сетки*/

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 40px 15px;
  display: flex;
  border: 1px whitesmoke;
  justify-content: center;
}

.search{
  /*padding-bottom: 30px;*/
  /*padding-left: 10% ;*/
  /*padding-top: 1%;*/
  padding: 2% 20%;
  margin: auto;
  position: relative;
  justify-content: center;

}
.search input {
  width: 85%;
  height: 30px;
  border: 3px solid #C5DDE8 ;
  background-color: rgba(255, 255, 255, 0.84);
}
.search button{
  color: black;
  transition: .3s;
  height: 30px;
  width: 10%;
  background-color: rgba(255, 255, 255, 0.84);

}



.widget-category-list li a{
  transition: color 0.2 linear;
}
.widget-category-list li a:hover{
  border-bottom: 2px solid sandybrown;
  color: #EECFBA;
}









/* блок для статьи */
.post {
  margin-bottom: 35px;
}
.post-content p {
  line-height: 1.5;
  padding-bottom: 1em;
}
.post-image {
  margin-bottom: 30px;
}

.post-footer {
  border-top: 1px solid #EBEBE3;
  border-bottom: 1px solid #EBEBE3;
  position: relative;
  margin-top: 15px;
}
.post-content a {
  color: black;
}
.posts-list {
  margin-bottom: 30px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;

}
aside{

  padding: 0 15px;
  width: 20%;
}
.auth_search{
  padding: 0 15px;
  width: 20%;
}
.input-form {
  margin: 15px 10px;
  text-align: center;
}

.input-form input {

  width: 100%;
  color: black;
  font-size: 15px;
  background: none;
  outline: none;
  border: 1px solid #fff;
  box-sizing: border-box;
  height: 30px;
}

.input-form input[type="text"]:focus, .input-form input[type="password"]:focus {
  border: 1px solid #0fc3f5;
}

.input-form input[type="submit"] {
  margin-top: 5 px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background: cornflowerblue;
  transition: .3s;
  height: 30px;

}

.input-form input[type="submit"]:hover {
  background: #EF5A42;
}
.auth{
  padding-bottom: 10px;

}
.input-form a{
  font-size:  15px;
  transition: color 0.2 linear;
}

.input-form a:hover{
  color: #C5DDE8;
}
article {
  width: 90%;
  margin: 0 auto ;
}


